<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>album</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI</description>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <filter>
    <display-name>RequestFilter</display-name>
    <filter-name>RequestFilter</filter-name>
    <filter-class>filter.RequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Log4jInit</servlet-name>
    <servlet-class>servlet.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4j</param-name>
      <param-value>E:\tools\apache-tomcat-8.0.23\work\log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>servlet.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterExe</display-name>
    <servlet-name>RegisterExe</servlet-name>
    <servlet-class>servlet.RegisterExe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterExe</servlet-name>
    <url-pattern>/registerExe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUnique</display-name>
    <servlet-name>CheckUnique</servlet-name>
    <servlet-class>servlet.CheckUnique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUnique</servlet-name>
    <url-pattern>/checkUnique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginExe</display-name>
    <servlet-name>LoginExe</servlet-name>
    <servlet-class>servlet.LoginExe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginExe</servlet-name>
    <url-pattern>/loginExe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword_1</display-name>
    <servlet-name>ForgetPassword_1</servlet-name>
    <servlet-class>servlet.ForgetPassword_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword_1</servlet-name>
    <url-pattern>/forgetPassword_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword_2</display-name>
    <servlet-name>ForgetPassword_2</servlet-name>
    <servlet-class>servlet.ForgetPassword_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword_3</servlet-name>
    <url-pattern>/forgetPassword_3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword_3</display-name>
    <servlet-name>ForgetPassword_3</servlet-name>
    <servlet-class>servlet.ForgetPassword_3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword_2</servlet-name>
    <url-pattern>/forgetPassword_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>servlet.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/forgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateCodeServlet</display-name>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>servlet.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/validateCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckValidateCode</display-name>
    <servlet-name>CheckValidateCode</servlet-name>
    <servlet-class>servlet.CheckValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckValidateCode</servlet-name>
    <url-pattern>/checkValidateCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword_4</display-name>
    <servlet-name>ForgetPassword_4</servlet-name>
    <servlet-class>servlet.ForgetPassword_4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword_4</servlet-name>
    <url-pattern>/forgetPassword_4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumList</display-name>
    <servlet-name>AlbumList</servlet-name>
    <servlet-class>servlet.AlbumList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumList</servlet-name>
    <url-pattern>/albumList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumCreate</display-name>
    <servlet-name>AlbumCreate</servlet-name>
    <servlet-class>servlet.AlbumCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumCreate</servlet-name>
    <url-pattern>/albumCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoUpload</display-name>
    <servlet-name>PhotoUpload</servlet-name>
    <servlet-class>servlet.PhotoUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoUpload</servlet-name>
    <url-pattern>/photoUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoDelete</display-name>
    <servlet-name>PhotoDelete</servlet-name>
    <servlet-class>servlet.PhotoDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoDelete</servlet-name>
    <url-pattern>/photoDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumDelete</display-name>
    <servlet-name>AlbumDelete</servlet-name>
    <servlet-class>servlet.AlbumDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumDelete</servlet-name>
    <url-pattern>/albumDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlbumUpdate</display-name>
    <servlet-name>AlbumUpdate</servlet-name>
    <servlet-class>servlet.AlbumUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumUpdate</servlet-name>
    <url-pattern>/albumUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoList</display-name>
    <servlet-name>PhotoList</servlet-name>
    <servlet-class>servlet.PhotoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoList</servlet-name>
    <url-pattern>/photoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoUpdate</display-name>
    <servlet-name>PhotoUpdate</servlet-name>
    <servlet-class>servlet.PhotoUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoUpdate</servlet-name>
    <url-pattern>/photoUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoDownload</display-name>
    <servlet-name>PhotoDownload</servlet-name>
    <servlet-class>servlet.PhotoDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoDownload</servlet-name>
    <url-pattern>/photoDownload</url-pattern>
  </servlet-mapping>
</web-app>